In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from surprise import Reader, Dataset, SVD

In [10]:
seed=457
np.random.seed(seed)

In [12]:
data_dir =r"../data/ml-latest-small"

In [24]:
filename = data_dir+"/ratings.csv"
rating = pd.read_csv(filename)
rating = rating[["userId","movieId","rating"]]
rating.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [57]:
movie = rating['movieId'].value_counts()
dict_movie = {'movieId':movie.index,'numbers':movie.values}
df_movie = pd.DataFrame(dict_movie)

In [83]:
new = pd.merge(rating, df_movie, on='movieId', how='left')
print(new.shape)
new = new[(new['numbers'] > 10)]
print(new.shape)
new.head()

(100836, 4)
(79636, 4)

   userId  movieId  rating  numbers
0       1        1     4.0      215
1       1        3     4.0       52
2       1        6     4.0      102
3       1       47     5.0      203
4       1       50     5.0      204

In [84]:
print("Number of total users:",new.groupby('userId').count().shape[0])
print("Number of total movies:",new.groupby('movieId').count().shape[0])

Number of total users: 610
Number of total movies: 2121

In [89]:
train, test = train_test_split(new, stratify = new['movieId'], test_size=0.25, random_state=42)
print("Length of training set:",len(train))
print("Number of train users:",train.groupby('userId').count().shape[0])
print("Number of train movies:",train.groupby('movieId').count().shape[0])
print("-------------------------------------------")
print("Length of testing set:",len(test))
print("Number of test users:",test.groupby('userId').count().shape[0])
print("Number of test movies:",test.groupby('movieId').count().shape[0])

Length of training set: 59727
Number of train users: 610
Number of train movies: 2121
-------------------------------------------
Length of testing set: 19909
Number of test users: 610
Number of test movies: 2121

In [90]:
train.to_csv(data_dir+"/train.csv")
test.to_csv(data_dir+"/test.csv")