In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movie.csv')

In [3]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Applying split operation to get genre types
df.genres = df.genres.str.split('|')

In [5]:
genre_col = list(set([j for i in df['genres'].tolist() for j in i]))
for j in genre_col:
    df[j] = 0
for i in range(df.shape[0]):
    for j in genre_col:
        if(j in df['genres'].iloc[i]):
            df.loc[i,j] = 1

In [6]:
# get release year of each movie
split_values = df['title'].str.split('(', n = 1, expand = True)

In [7]:
df.title = split_values[0]
df['release_year'] = split_values[1]

In [8]:
df['release_year'] = df.release_year.str.replace(')','')

In [9]:
df.drop('genres',axis=1,inplace=True)

In [10]:
df.head()

,movieId,title,Romance,Documentary,Fantasy,Animation,Crime,Comedy,Horror,IMAX,...,Film-Noir,Adventure,Mystery,Musical,Sci-Fi,(no genres listed),Drama,Action,Thriller,release_year
0,1,Toy Story,0,0,1,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1995
1,2,Jumanji,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1995
2,3,Grumpier Old Men,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995
3,4,Waiting to Exhale,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1995
4,5,Father of the Bride Part II,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995

In [11]:
df.shape

(9742, 23)

In [12]:
df.columns

Index(['movieId', 'title', 'Romance', 'Documentary', 'Fantasy', 'Animation',
       'Crime', 'Comedy', 'Horror', 'IMAX', 'Western', 'War', 'Children',
       'Film-Noir', 'Adventure', 'Mystery', 'Musical', 'Sci-Fi',
       '(no genres listed)', 'Drama', 'Action', 'Thriller', 'release_year'],
      dtype='object')