In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../data/ml-latest-small/rating.csv')

In [3]:
data.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [4]:
data.shape

(100836, 4)

In [5]:
matrix = data.pivot_table(values='rating', columns = 'movieId', index='userId')

In [7]:
matrix.to_csv('../output/matrix.csv',index_label=False)

In [9]:
matrix_df = pd.read_csv('matrix.csv')

In [11]:
matrix_df.shape

(610, 9724)

In [ ]:
# end